## MAD Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mad.csv')

In [6]:
df

     file     aes_mad    caes_mad   original_mad
0   7.jpg  120.183655  131.960938   20838.205261
1   9.jpg  120.867188  123.296875   25365.031250
2   2.jpg  127.098816  126.543823   20641.130920
3  10.jpg  177.515625  177.914062   59375.218750
4   6.jpg  218.421875  216.367188   75763.390625
5   5.jpg  235.932495  217.869415   51638.740143
6   4.jpg  239.023438  246.742188  133378.890625
7   8.jpg  265.837524  269.060791   70252.714966
8   1.jpg  232.468750  237.585938   73373.210938
9   3.jpg  273.421875  287.367188   93432.453125

In [3]:
df.describe()

          aes_mad    caes_mad   original_mad
count   10.000000   10.000000      10.000000
mean   201.077124  203.470840   62405.898660
std     59.976003   60.427154   35479.886739
min    120.183655  123.296875   20641.130920
25%    139.703018  143.449219   31933.458473
50%    225.445312  217.118301   64813.966858
75%    238.250702  244.453125   75165.845703
max    273.421875  287.367188  133378.890625

## Uji Statistik
* Hipotesis Nol: Selisih rata rata MAD dari AES - CAES >= 0
* Hipotesis Alternatif : Selisih rata-rata MAD dari AES - CAES < 0

In [4]:
import numpy as np
from scipy.stats import t

In [5]:
n = 10 # Jumlah data

ba = t.ppf(0.05, 2*n - 1)
ba

-1.7291328115213678

In [7]:
avg = df.iloc[:,1:].abs().mean(axis=0)
std = df.iloc[:,1:].abs().std(axis=0)

In [8]:
avg

aes_mad           201.077124
caes_mad          203.470840
original_mad    62405.898660
dtype: float64

In [9]:
std

aes_mad            59.976003
caes_mad           60.427154
original_mad    35479.886739
dtype: float64

In [11]:
t = (avg.iloc[0] - avg.iloc[1]) / np.sqrt((n - 1) * std.iloc[0] ** 2 + (n - 1) * std.iloc[1] ** 2) * np.sqrt(n * n * (2*n-2) / (2*n))
t

-0.08890921504766469

Jadi, H_0 diterima karena t >= -1.729